Version: '2012-10-17'
Statement:
  - Sid: KeyAccess
    Effect: Allow
    Action:
      - kms:Decrypt
    Resource:
      - "${kms_arn}"
  - Effect: Allow
    Action:
      - sqs:ChangeMessageVisibility
      - sqs:DeleteMessage
      - sqs:ReceiveMessage
      - sqs:SendMessage
    Resource:
      %{~ for arn in queues ~}
      - "${arn}"
      %{~ endfor ~}
