Version: '2012-10-17'
Statement:
  - Effect: Allow
    Action:
      - sqs:DeleteMessage
      - sqs:ReceiveMessage
      - sqs:SendMessage
    Resource:
      %{~ for arn in queues ~}
      - "${arn}"
      %{~ endfor ~}
