Version: "2012-10-17"
Statement:
  - Sid: KeyAccess
    Effect: Allow
    Action:
      - kms:Decrypt
    Resource:
      - "${kms_arn}"
  - Sid: SecretsAccess
    Effect: Allow
    Action:
      - secretsmanager:GetSecretValue
      - ssm:GetParameter
      - ssm:GetParameters
    Resource:
      %{~ for arn in secrets ~}
      - "${arn}"
      %{~ endfor ~}
